<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770266739001-musc8iruoebikcuifq6scopu7i89519i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770266739001-musc8iruoebikcuifq6scopu7i89519i</string>
	<key>API_KEY</key>
	<string>AIzaSyCgzPxXAwT-WYbCDiS9fGd5WNBnR-qKfAM</string>
	<key>GCM_SENDER_ID</key>
	<string>770266739001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoodRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>foodrecipe-ef0e7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrecipe-ef0e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770266739001:ios:47a9302023d36bf09138e8</string>
</dict>
</plist>